$font-family-sans-serif: sans-serif;

$orange: #f57e20;
$light-orange: #ff9f0f;

$grey-50: #f6f6f6;
$grey-550: #808080;
$grey__nav-hr: #f0f0f0;
$grey__border: #e4e4e4;

$bg-image-orange: linear-gradient(to right, #f67e20, #ff9f0f);